#inf {
  font-size: 50px;
  /*font-family: ;*/
  color: blue;
  padding-top: 100px;
}

#button {
  background-color: #4099FF;
  height:30px;
  width:10%;
  position:relative;
  margin-left:45%;
  margin-right:45%;
  margin-top: 5%;
}

#sup {
  text-align: center;
  margin-top: 2vh;
}

#support {
  margin-top: -1%;
  display:inline-block;
  text-align: center;
  width: 10%;
  height: 5%;
}

#but {
  margin-top: -2%;
  text-align: center;
}

#place {
  text-align: center;
}

#title {
  color: #FFDD40;
  margin: auto;
  width: 33vw;
  margin-top: 5%;
  border-radius: 25px;
}

#temp {
  display: inline;
}

#unity {
  display: inline;
}

#cond {
  display: inline;
}

#icon {
  display: inline;
}

body {
  background-image: url("sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
